<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Contact
      <small>contact detail</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#" routerLinkActive="active" routerLink="/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Contact</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Contact</h3>
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-default">+
              Add Contact
            </button>
          </div>
          <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

              <div class="row">
                <div class="col-sm-6">
                  <div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length"
                                                                                          aria-controls="example1"
                                                                                          class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries</label></div>
                </div>
                <div class="col-sm-6">
                  <div id="example1_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                           class="form-control input-sm"
                                                                                           placeholder=""
                                                                                           aria-controls="example1"></label>
                  </div>
                </div>
              </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Subject</th>
                  <th>Message</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contact of oContact">
                  <td>{{contact.name}}</td>
                  <td width="150px">{{contact.email}}</td>
                  <td width="40px">{{contact.subject}}</td>
                  <td width="40px">{{contact.message}}</td>
                  <td width="100px"><a class="btn" title="Edit" (click)="updateContact(contact._id)" data-toggle="modal" data-target="#modal-default">
                    <span class="fa fa-edit"></span></a>
                    <a title="Delete" class="btn" (click)="deleteContact(contact._id)">
                      <span style="color:#ac2925;" class="fa fa-trash"></span></a></td>
                </tr>
                </tbody>
              </table>
              <p *ngIf="(oContact | json) === '[]'" class="no-data">No Contact available still! </p>
              <div class="row">
                <div class="col-sm-5">
                  <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57
                    entries
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    <ul class="pagination">
                      <li class="paginate_button previous disabled" id="example1_previous"><a href="#"
                                                                                              aria-controls="example1"
                                                                                              data-dt-idx="0"
                                                                                              tabindex="0">Previous</a>
                      </li>
                      <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1"
                                                            tabindex="0">1</a></li>
                      <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2"
                                                      tabindex="0">2</a>
                      <li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1"
                                                                             data-dt-idx="3" tabindex="0">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<ngx-spinner></ngx-spinner>

 <!--Contact FORM !-->

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeModal aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact</h4>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)="f.form.valid && addContact()" #f="ngForm" >
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" id-="name" class="form-control" [(ngModel)]="contactData.name" #name="ngModel" placeholder="Enter name..." [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"  required/>
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required" class="invalid-error">Name is required.</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Email</label>
                <input name="email" type="text" id-="email" class="form-control" [(ngModel)]="contactData.email" #email="ngModel" placeholder="Enter email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required" class="invalid-error">Email is required.</div>
                  <div *ngIf="email.errors.email" class="invalid-error">Email must be a valid email address.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Subject</label>
            <input name="subject" type="text" id-="subject" class="form-control" placeholder="Enter subject..." [(ngModel)]="contactData.subject" #subject="ngModel"  />
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea name="message" i="message" class="form-control" rows="3" [(ngModel)]="contactData.message" #message="ngModel" placeholder="Enter message..."></textarea>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-default pull-right" id="closeBtn" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
