<header class="main-header">

  <!-- Logo -->
  <a href="#" routerLink="/home" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>IJ</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>IT</b>jugadu</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">1</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 1 messages</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li><!-- start message -->
                  <a routerLinkActive="active" href="#" routerLink="/contact">
                    <div class="pull-left">
                      <img src="/assets/images/user.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>ITjugadu latest contact here coming soon...</p>
                  </a>
                </li>
                <!-- end message -->
              </ul>
            </li>
            <li class="footer" routerLinkActive="active"><a href="#" routerLink="/contact">See All Messages</a></li>
          </ul>
        </li>
        <!-- Notifications: New subscriber -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">2</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 1 new subscriber</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 1 new subscriber joined today
                  </a>
                </li>
              </ul>
            </li>
            <li routerLinkActive="active" class="footer"><a href="#" routerLink="/subscriber">View all</a></li>
          </ul>
        </li>
        <!-- Comment: comment on post -->
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">1</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 1 comment</li>
            <li routerLinkActive="active" class="footer">
              <a href="#" routerLink="/comment">View all tasks</a>
            </li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/assets/images/user.png" class="user-image" alt="User Image">
            <span class="hidden-xs">ITjugadu</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/assets/images/user.png" class="img-circle" alt="User Image">

              <p>
                ITjugadu &#8211; world of information
                <small>Member since Nov. 2020</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#" routerLinkActive="active" routerLink="/user">Users</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#" routerLinkActive="active" routerLink="/post">Posts</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#" routerLinkActive="active" routerLink="/subscriber">Subscribers</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
       </ul>
    </div>

  </nav>
</header>
